{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block content %}
  <h1 class="govuk-heading-xl">Welcome to your dev test!</h1>

  <!-- The freedom is yours. You can design the solution however you like, however there is a starting point provided
  to ensure you have both services running. You may want to make use of the Gov UK Components:
  https://design-system.service.gov.uk/components/ to add tabs and so forth :) -->

  <div class="govuk-margin-bottom-4">
    <a href="/add" class="govuk-button">Add new case</a>
  </div>

  {% if examples %}
    {% for example in examples %}
      <h2 class="govuk-heading-m">Case {{ example.id }}</h2>
      
      {{ govukSummaryList({
        rows: [
          {
            key: { text: "ID" },
            value: { text: example.id },
            actions: {
              items: [
                {
                  href: "/edit/" + example.id,
                  text: "Change",
                  visuallyHiddenText: "Update record?!"
                },
                {
                  href: "/delete/" + example.id,
                  text: "Delete",
                  visuallyHiddenText: "Delete description"
                }
              ]
            }
          },
          {
            key: { text: "Case Number" },
            value: { text: example.caseNumber }
          },
          {
            key: { text: "Title" },
            value: { html: example.title }
          },
          {
            key: { text: "Description" },
            value: { html: example.description }
          },
          {
            key: { text: "Status" },
            value: { html: example.status }
          },
          {
            key: { text: "Created Date" },
            value: { html: example.created_at }
          }
        ]
      }) }}
      
      {% if not loop.last %}<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">{% endif %}
    {% endfor %}
  {% endif %}

{% endblock %}
